h1 {
  color: black;
}
p{
  text-align: center;
}
h2 {
  color: black;
  font-style: italic;
  text-align: left;
}
p {
  font-family: sans-serif;
  text-align: justify;
}
ul {
  line-height: 20px;
}
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
